@import "mixvar";

@keyframes markBox {
  0%{
    @include transform("translate(-50%,-50%) scale(.01)") ;
  };
  30%{
    @include transform("translate(-50%,-50%) scale(1.3)");
  };
  65%{
    @include transform("translate(-50%,-50%) scale(1)");
  };
  66%{
    @include transform("translate(-50%,-50%) scale(1.1)");
  };
  100%{
    @include transform("translate(-50%,-50%) scale(1)");
  };
}
@keyframes fillBox {
  0%{
    @include transform("translate(-50%,-50%) scale(.01)");
  };
  100%{
    @include transform("translate(-50%,-50%) scale(1.5,1.4)");
  };
}
// state 1 - state 2 animate
@keyframes start-game-animate{
  from{
    background-color: $light-box;
    height: 40vh;
  };
  to{}
}
@-webkit-keyframes game-results-animate{
  from{
    border-radius: 0%;
  };
  to{
    border-radius: 50%;
  }
}
// not working yet
@keyframes animate-winning-row{
  0%{ background-color: yellow;};
  50%{ background-color: pink;};
  100%{ background-color: $dark;}
}
