@media screen and (min-width: 715px){

  #main{
    #app{
      #board-container{
        #master-board{
          .board{

          }
          #options-board{
            #text-container{
              #text{
                font-size: 22px;
              }
            }
          }
          #difficulty-board{
            .pannels{
              .diff-pannel{
                .pannel-text{
                  font-size: 18px;
                }
              }
            }
            #text-container{
              #text{
                font-size: 22px;
              }
            }
          }
          #game-board {

          }
          #results-board{
            #text-container{
              #results-text{
                font-size: 45px;
              }
            }
          }
        }
      }
      #nav-buttons{
        .reset-btn{

        }
        #home-button{

        }
      }
    }
  }
}
