$dark: #222831;
$dark-teal: #005256;
$grey: #58606B;
$teal: #00ADB5;
$white: #EEEEEE;
$red: #EB586F;
$l-grey: transparentize($grey,.7);
$light-box: #F4F4F4;
$dark-box: darken($light-box,5%);

@mixin box-sizing ($str) {
  -webkit-box-sizing: #{$str};
  -moz-box-sizing: #{$str};
  box-sizing: #{$str};
}
@mixin animation( $str ) {
  -webkit-animation: #{$str}!important;
  -moz-animation: #{$str}!important;
  -ms-animation: #{$str}!important;
  -o-animation: #{$str}!important;
  animation: #{$str}!important;
}
@mixin transition( $str ) {
  -webkit-transition: #{$str};
  -moz-transition: #{$str};
  -ms-transition: #{$str};
  -o-transition: #{$str};
  transition: #{$str};
}
@mixin transform( $str ) {
  -webkit-transform: #{$str};
  -moz-transform: #{$str};
  -ms-transform: #{$str};
  -o-transform: #{$str};
  transform: #{$str};
}

// centering
@mixin center-me{
    position: absolute;
    left: 50%;
    top: 50%;
    @include transform('translate(-50%,-50%)');
}
@mixin center-me-vert{
  position: absolute;
  top: 50%;
  @include transform("translateY(-50%)");
}
@mixin center-me-horiz{
  position: absolute;
  left: 50%;
  @include transform("translateX(-50%)");
}
