@import "mixvar";
@import "keyframes";
@import "reactTransitions";

* {
  margin:0px;
  padding:0px;
}

body{
  // background-color: $white;
  background-color: white;
}

header{
  height: 10vh;
  background-color: $dark;
  text-align: center;
  color: white;
  @include box-sizing("border-box");
  h1 {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;
    margin: 0;
    font-family: "Roboto",sans-serif;
    font-size: 2rem;
    font-weight: 600;
  }
}

#main {
  height: 90vh;
  width: 100%;
  background-color: $teal;
  @include box-sizing("border-box");
  #app {
    position: relative;
    width: 100%;
    height: 100%;
    @include box-sizing("border-box");
    #board-container{
      width: 100%;
      position: relative;
      height: 80vh;
      #master-board{
        background-color: white;
        width: 50vh;
        max-width: 90vw;
        height: 50vh;
        max-height: 90vw;
        line-height: 0px;
        overflow: hidden;
        -webkit-backface-visibility: hidden;
        border-radius: 40px;
        box-shadow: 2px 2px 100px #098c92;
        @include center-me();
        .board {
          width: 100%;
          height: 100%;
          @include center-me();
        }
        #options-board {
          .board-options {
            width: 100%;
            height: 65%;
            @include center-me-horiz();
            -webkit-backface-visibility: hidden;
            &:after{
              content: "";
              display: block;
              height: 4px;
              width: 50%;
              left: 0px;
              position: absolute;
              bottom: -2px;
              background-color: $teal;
              z-index: 10;
              @include transition("all 500ms ease");
            }
            &.o-active {
              &:after {
                @include transform("translateX(100%)");
              }
              #option-o {
                fill: $teal;
              }
              #option-x {
                fill: $grey;
              }
            }
            .options {
              display: inline-block;
              width: 50%;
              height: 100%;
              position: relative;
              box-sizing: border-box;
              cursor: pointer;
              @include transition("all 400ms ease");
              .mark-icon {
                @include center-me();
                width: 40%;
                height: 50%;
                display: inline-block;
              }
            }
            #option-x {
              fill: $teal;
            }
            #option-o {
              fill: $grey;
            }
          }
          #text-container {
            position: absolute;
            box-sizing: border-box;
            bottom: 0;
            width: 100%;
            height: 35%;
            border-top: 2px solid transparentize($grey, .7);
            z-index: -1;
            #text {
              width: 100%;
              text-align: center;
              @include center-me();
              font-size: 18px;
              font-family:"Roboto", sans-serif;
              font-weight: 500;
              color: $dark;
            }
          }
        }
        #difficulty-board {
          .pannels {
            position: absolute;
            height: 65%;
            width: 100%;
            -webkit-backface-visibility: hidden;
            .diff-pannel {
              cursor: pointer;
              position: relative;
              top: 0px;
              width: 33.333%;
              height: 100%;
              display: inline-block;
              vertical-align: top;
              .icons{
                @include center-me-horiz();
                top: 20%;
                fill:$l-grey;
                height: 30%;
                width: 50%;
                @include transition("all 500ms ease");
              }
              .pannel-text {
                @include center-me-horiz();
                bottom: 10%;
                font-family: "Roboto", sans-serif;
                font-size: 14px;
                font-weight: 400;
                color: $l-grey;
                @include transition("all 500ms ease");
              }
            }
            &:after{
              content: "";
              display: block;
              height: 4px;
              width: 33.3%;
              left: 0px;
              position: absolute;
              bottom: -1px;
              background-color: $teal;
              z-index: 10;
              @include transition("all 500ms ease");
            }
            #easy{
              #happy-face-icon {
                fill:$teal;
              }
              #easy-text {
                color: $dark;
              }
            }
            &.r-active {
              &:after {
                @include transform("translateX(100%)"); // goes where its needed
              }
              #regular {
                #num-pad-icon {
                  fill: $teal;
                }
              }
              #easy{
                #happy-face-icon {
                  fill:$l-grey;
                }
                #easy-text {
                  color: $l-grey;
                }
              }
              #regular-text {
                color: $dark;
              }
            }
            &.i-active {
              &:after {
                @include transform("translateX(200%)"); // goes where its needed
              }
              #impossible {
                #fire-icon {
                  fill:$teal;
                }
              }
              #easy{
                #happy-face-icon {
                  fill: $l-grey;
                }
                #easy-text {
                  color: $l-grey;
                }
              }
              #impossible-text{
                color: $dark;
              }
            }
          }
          #text-container {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 35%;
            border-top: 2px solid transparentize($grey, .7);
            z-index: -1;
            #text {
              width: 100%;
              text-align: center;
              @include center-me();
              font-size: 18px;
              font-family:"Roboto", sans-serif;
              font-weight: 500;
              color: $dark;
            }
          }
        }
        #game-board {
          .inner-board {
            width: 101%;
            height: 101%;
            box-sizing: content-box;
            font-size: inherit;
            line-height: inherit;
            position: absolute;
            -webkit-backface-visibility: hidden;
            @include center-me();
            .box {
              cursor: pointer;
              display: inline-block;
              width: 33.333%;
              height: 33.333%;
              position: relative;
              overflow: hidden;
              -webkit-backface-visibility: hidden;
              @include transition("opacity .2s ease");
              .mark-box {
                width: 100%;
                height: 110%;
                fill: white;
                border-radius: 50%;
                @include center-me();
                @include animation("fillBox 500ms ease-in-out forwards");
                .mark-icon {
                  height: 20%;
                  width: 20%;
                  @include box-sizing("border-box");
                  @include center-me();
                  @include animation("markBox 400ms ease-in-out");
                }
              }
            }
          }
        }
        #results-board {
          background-color: $light-box;
          #text-container {
            @include center-me();
            #results-text {
              text-align: center;
              font-family: "Roboto", sans-serif;
              font-size: 30px;
              font-weight: 600;
              color: $dark;
              padding-bottom:15px;
              border-bottom: 2px solid $dark;
            }
            #play-again-text{
              color: $teal;
              text-align: center;
              font-family: "Roboto", sans-serif;
              cursor: pointer;
            }
          }
        }
      }
    }
    #nav-buttons {
      @include center-me-horiz();
      width: 240px;
      height: 60px;
      bottom: 7%;
      .reset-btn {
        cursor: pointer;
        vertical-align: middle;
        position: relative;
        background-color: $dark;
        box-sizing: border-box;
        display: inline-block;
        width: 60px;
        height: 60px;
        text-align: center;
        outline: none;
        z-index: 2;
        border-radius: 100px;
        border: none;
        @include transition("all 500ms ease-in-out");
        #forward-icon {
          @include center-me();
          height: 30px;
          width: 30px;
          fill: $white;
        }
        #replay-icon {
          @include center-me();
          height: 30px;
          width: 30px;
          fill: $white;
        }
      }
      #home-button {
        cursor: pointer;
        margin: 0px 40px;
        position: relative;
        display: inline-block;
        height: 60px;
        width: 60px;
        border: none;
        outline: none;
        border-radius: 50%;
        background-color: $dark;
        #home-icon {
          fill: $white;
          height: 30px;
          width: 30px;
        }
      }
    }
  }
}


// checkered starting colors
.dark-box {
  background-color: $dark-box;
}
.light-box {
  background-color: $light-box;
}

// when user clicks
.teal-box {
  background-color: $teal;
}
.grey-box {
  background-color: $grey;
}
// for showing winner
.highlight-box {
  background-color: $dark;
  @include transition("all 1s ease");
}

@import "MediaQueries"
