@import "mixvar";
@import "keyframes";

* {
  margin:0px;
  padding:0px;
}

body{
  background-color: $white;
}


header{
  height: 10vh;
  background-color: $dark;
  text-align: center;
  color: white;
  @include box-sizing("border-box");
  h1 {
    letter-spacing: 1px;
    line-height: 10vh;
    display: inline-block;
    margin: 0;
    font-family: "Roboto",sans-serif;
    font-size:3em;
  }
}

#main {
  height: 90vh;
  width: 100%;
  @include box-sizing("border-box");
  #app {
    position: relative;
    width: 100%;
    height: 100%;
    @include box-sizing("border-box");
    #board-container{
      width: 100%;
      position: relative;
      height: 80vh;
      box-sizing: inherit;
      .board{
        @include center-me();
        width: 80vw;
        height: 90vw;
        font-size: 0px !important;
        line-height: 0px;
        overflow: hidden;
        -webkit-backface-visibility: hidden;
        .inner-board {
          width: 101%;
          height: 101%;
          box-sizing: content-box;
          font-size: inherit;
          line-height: inherit;
          position: absolute;
          @include center-me();
          .box {
            display: inline-block;
            width: 33.333%;
            height: 33.333%;
            position: relative;
            @include transition("opacity .2s ease");
            overflow: hidden;
            .mark-box {
              width: 100%;
              height: 100%;
              fill: white;
              border-radius: 50%;
              @include center-me();
              @include animation("fillBox 400ms ease forwards");
              .mark-icon {
                @include box-sizing("border-box");
                @include center-me();
                height: 20%;
                width: 20%;
                @include animation("markBox 400ms ease-in-out");
              }
            }
          }
        }
      }
    }
    #reset-btn {
      position: absolute;
      bottom: 0px;
      width: 100%;
      background-color: $grey;
      height: 10vh;
      text-align: center;
      #reset-btn-text {
        color: white;
        font-size: 45px;
        font-family: "Roboto",sans-serif;
        font-weight: 300;
        line-height: 10vh;
        display: inline-block;
        letter-spacing: 1px;
      }
    }
  }
}

.dark-box {
  background-color: $dark-box;
}
.light-box {
  background-color: $light-box;
}
.teal-box {
  background-color: $teal;
}
.grey-box {
  background-color: $grey;
}
