doctype html
html(lang="en")
  head
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="build/build.css")
    link(rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.5/material.indigo-pink.min.css")
  body
    include sprites.jade
    header.mdl-shadow--6dp
      h1 Tic-Tac-Toe
    
    div#main

  script(src="build/bundle.js")
  
    
