doctype html
html(lang="en")
  head
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="apple-mobile-web-app-capable" content="yes")
    meta(name="mobile-web-app-capable" content="yes")
    link(rel="stylesheet" href="build/build.css")
    link(rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.5/material.indigo-pink.min.css")
    link(rel="icon" sizes="192x192" href="dev/images/app-icon.png")
    link(rel="manifest" href="manifest.json")
  body
    include sprites.jade
    header.mdl-shadow--6dp
      h1 Tic Tac Toe
    
    div#main

  script(src="build/bundle.js")
  
    
